body{
    margin: 0px;
    padding: 0px;
    background-color: coral;
}

h2 {
    background-color: rgb(167, 26, 26);
    height: 59px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
h3 {
    text-align: center;
    background-color: rgb(160, 30, 30);
    height: 59px;
}
#content {
    background-color: rgb(240, 214, 180);
    border: rgb(240, 214, 180);
    margin-top: 200px;
    margin-left: 60%;
    height: 500px;
    text-align: center;
    font-size: 40px;
}

.foot {
    background-color: rgb(160, 30, 30);
    height: 400px;
    margin: auto;
    list-style: none;
}
.contact {
    border: 5px solid black;
    background-color: rgb(160, 30, 30);
    height: 70px;
    width: 150px;
    text-align: center;
    margin-right: 50%;
    margin-left: 47%;

    color: burlywood;


}

.foot-social {
    padding-top: 100px;
    height: 300px;
    width: auto;
    margin: auto;
    list-style: none;
    
}
.foot-social ul {
    text-align: center;
    margin: 0;
    padding: 0px;
    list-style: none;
}
.foot-social ul li{
    display: inline-block;
    list-style: none;
    width: 70px;
    height: 70px;
    margin: 0px 15px;
    border-radius: 100%;
    background-color: burlywood;
}
.foot-social ul li a{
    color: #272727;   
    font-size: 30px;
    padding: 0px;
    list-style: none;
}
.foot-social ul li a i {
    line-height: 60px;
}
.image {
    
    margin-top:30px ;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;    
}

.section ul li {
    font-weight: bold;
    display: inline-block;
    list-style: none;
    

}

div ul li:hover{

color: rgb(167, 26, 26);
border: 2px solid #272727;
}

.btn{
    background-color: teal;
    margin-top: 50px;
}

.container{
    border:solid coral ;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

